.vscode
*.sln
bin
obj
Properties
.vs
*.dbmdl
*.jfm
*.refactorlog
CourseMeeting.code-workspace
*.connectionString
.\CourseMeetingMVC\bin
.\CourseMeetingMVC\obj
.\CourseMeetingEntitiesLib\bin
.\CourseMeetingEntitiesLib\obj
.\CourseMeetingDBContextLib\bin
.\CourseMeetingDBContextLib\obj
.\CourseMeetingDB\bin
.\CourseMeetingDB\obj