@model CourseMeetingEntitiesLib.dbo.Course

<h2 class="display-2">Create a new Course</h2>

<form asp-action="CreateCourse" asp-controller="Course">
    <label>Name</label>
    <br/>
    <input type="text" asp-for="CName" class="form-control"/>
    <br/>
    <label>Description</label>
    <br/>
    <input type="text" asp-for="CDescription" class="form-control"/>
    <br/>
    <input type="submit" value="Create" class="btn btn-default"/>
</form>