@model CourseMeetingMVC.Models.Account.ProfilViewModel

<h2 class="display-2">@Model.UserName</h2>

<div class=".center">

    <table class="table">
        <thead>

        </thead>
        <tbody>
        <tr>
            <th>E-Mail</th>
            <th>@Model.EMail</th>
        </tr>
        <tr>
            <th>PhoneNumber</th>
            <th>@Model.PhoneNumber</th>
        </tr>
        <tr>
            <th>Role</th>
            <th>@Model.Role</th>
        </tr>
        </tbody>
    </table>
</div>